{{!-- Background --}}
<div id="background">
    {{!-- Main Content --}}
    <div id="main-content" class="container">

        <img src="#" alt="Burger-img">

        <div id="main-header">
            <h1>Burgers App</h1>
            <p>Add a Burger and Devour it!</p>
        </div>
        
        {{!-- Burgers Div --}}
        <div id="burgers">
            {{!-- Created Burgers --}}
            <span id="created">
                <p>Created</p>
            </span>
            {{!-- Devoured Burgers --}}
            <span id="devoured">
                <p>Devoured</p>
            </span>
        </div>

        <div id="buttons">
            <button id="addBtn" class="button">Add Burger</button>
            <button id="eatBtn" class="button">Devour</button>
        </div>

    </div>
</div>